@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
    --barras: rgba(37, 37, 37, 1);
    --00dp: rgba(18, 18, 18, 1);
    /*COLOR PROFUNDIDAD*/
    --dpR: 250;
    --dpG: 255;
    --dpB: 255;
    --dpO: 1;
    --01dp: rgba(var(--dpR), var(--dpG), var(--dpB), calc(var(--dpO) * 0.05));
    --02dp: rgba(var(--dpR), var(--dpG), var(--dpB), calc(var(--dpO) * 0.08));
    --03dp: rgba(var(--dpR), var(--dpG), var(--dpB), calc(var(--dpO) * 0.11));
    --04dp: rgba(var(--dpR), var(--dpG), var(--dpB), calc(var(--dpO) * 0.14));
    --05dp: rgba(var(--dpR), var(--dpG), var(--dpB), calc(var(--dpO) * 0.16));
    /*COLOR TEXTOS*/
    --txtR: 255;
    --txtG: 255;
    --txtB: 255;
    --txtO: 1;
    --txt0: rgba(var(--txtR), var(--txtG), var(--txtB), var(--txtO));
    --txt1: rgba(var(--txtR), var(--txtG), var(--txtB), calc(var(--txtO) * 0.8));
    --txt2: rgba(var(--txtR), var(--txtG), var(--txtB), calc(var(--txtO) * 0.6));
    --txt3: rgba(var(--txtR), var(--txtG), var(--txtB), calc(var(--txtO) * 0.4));
    --txt-off: rgba(var(--txtR), var(--txtG), var(--txtB), calc(var(--txtO) * 0.2));
    /*COLOR RESALTES*/
    --resR: 255;
    --resG: 152;
    --resB: 0;
    --resO: 1;
    --txt-r0: rgba(var(--resR), var(--resG), var(--resB), var(--resO));
    --txt-r1: rgba(var(--resR), var(--resG), var(--resB), calc(var(--resO) * 0.8));
    --txt-r2: rgba(var(--resR), var(--resG), var(--resB), calc(var(--resO) * 0.6));
    --txt-r3: rgba(var(--resR), var(--resG), var(--resB), calc(var(--resO) * 0.4));
    --txt-r-off: rgba(var(--resR), var(--resG), var(--resB), calc(var(--resO) * 0.2));
}
/* ESTRUCTURA GENERAL */
body {
    margin: 0;
    background-color: var(--00dp);
}

header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 10mm;
    width: 100%;
    background-color: var(--barras);
    text-align: center;
    padding: 1mm;
}

main {
    position: fixed;
    z-index: 0;
    top: 10mm;
    bottom: 10mm;
    width: 100%;
    overflow: auto;
    padding: 4px;
}

footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
    height: 10mm;
    width: 100%;
    background-color: var(--barras);
    text-align: center;
    padding: 1mm;
}

#error_container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: white;
}

a {
    display: inline-block;
    /*background-color: red;*/
    /*display: none;*/
}

/*TAMAÑOS DE TEXTO*/
.fs0 {
    font-size: 6mm;
}

.fs1 {
    font-size: 4mm;
}

.fs2 {
    font-size: 3.5mm;
}

.fs3 {
    font-size: 3mm;
}

.fs4 {
    font-size: 2.5mm;
}

/*Cajas de mensaje*/

#infobox {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-family: 'Barlow', sans-serif;
    color: var(--txt2);
    text-align: center;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
}

.answerButton:hover {
    -webkit-transform: translateY(-0);
    -moz-transform: translateY(-0);
    transform: translateY(-0);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}



/*Botones*/

.menuButton {
    fill: var(--txt-r1);
    background-color: transparent;
    display: inline-block;
    width: 8mm;
    height: 8mm;
    border-radius: 10mm;
    outline: none;
    border: none;
    margin: 0 2.7vw 0 2.7vw;
    padding: 0;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
}

.hint {
    position: relative;
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    font-size: 3mm;
    font-weight: 100;
    line-height: 2mm;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid red;
}

.menuButton svg {
    height: 8mm;
    width: 8mm;
    fill: var(--txt-r1)
}

.menuButton:hover {
    fill: var(--txt-r0);
    /*background-color: var(--txt-r0);*/
}

.menuButton:hover:disabled {
    background-color: var(--txt-r-off);
    opacity: .2;
}

.disabled {
    opacity: .2;
}

/* Alturas de la interfaz */
.altura0 {
    background-color: transparent;
}

.altura1 {
    background-color: var(--01dp);
    border-radius: 8px;
    padding: 1mm;
}

.altura2 {
    background-color: var(--02dp);
    border-radius: 8px;
    padding: 1mm;
}

.altura3 {
    background-color: var(--03dp);
    border-radius: 8px;
    padding: 1mm;
}

.altura4 {
    background-color: var(--04dp);
    border-radius: 8px;
    padding: 1mm;
}

.altura5 {
    background-color: var(--05dp);
    border-radius: 8px;
    padding: 1mm;
}

/*Tipos de texto*/

.txt0 {
    color: var(--txt1);
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    margin: 0;
}

.txt1 {
    color: var(--txt1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}

.txt2 {
    color: var(--txt2);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

.txt3 {
    color: var(--txt3);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

.txt-off {
    color: var(--txt-off);
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 4mm;
    margin: 0;
}

.txt-r0 {
    color: var(--txt-r0);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

.txt-r1 {
    color: var(--txt-r1);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

.txt-r2 {
    color: var(--txt-r2);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

.txt-r3 {
    color: var(--txt-r3);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

.txt-r-off {
    color: var(--txt-r-off);
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    margin: 0;

}

.answerButton {
    display: inline-block;
    background-color: var(--txt-r1);
    height: 10mm;
    width: 20mm;
    border-radius: 8px;
    outline: none;
    border: none;
    font-family: 'Barlow', sans-serif;
    font-size: 4mm;
    font-weight: 700;
    /*line-height: 10mm;*/
    color: var(--txt0);
    margin: 0 2vw 0 2vw;
    padding: 1mm;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
    animation: answerbutton 0.1s ease-in-out;
}